<%- model_class = Topic -%>
<div class="page-header">
  <h3>Now viewing:</h3>  <!--<%=t '.title', :default => model_class.model_name.human.titleize %>-->
</div>

<dl class="dl-horizontal">
  <dt><strong>Topic:     </strong></dt>
  <dd><%= @topic.topic_name %></dd>
  <dt><strong>Topic text:</strong></dt>  <!-- <%= model_class.human_attribute_name(:topic_content) %>: -->
  <dd><%= @topic.topic_content %></dd>
  <dt><strong>Author:</strong></dt>
  <dd><%= @topic.topic_author %></dd>
</dl>

<h3>Comments</h3>
<% if @topic.comments.size < 1 %>
<p>No comments yet</p>
  <% else
    for comment in @topic.comments %>
    <p style="font-weight:bold"><%= comment.name %></p>
    <p style="font-style:italic"><%= comment.content %></p>
  <% end %>
<% end %>


<h3>Add Comment</h3>

<%= form_for [@topic, Comment.new] do |f| %>

  <p><%= f.label :name %> <%= f.text_field :name%></p>
  <p><%= f.text_area :content, :rows=>10 %>
  <p><%= f.submit %></p>

<% end %>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              topics_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_topic_path(@topic), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              topic_path(@topic),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
